@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
// @import "./media.scss"; //imp:not working

$primary-color: #252934;
$secondary-color: #e31b6d;
$facebook-color: #4267b2;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

//headings:
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem; //default font-size:16px therefore 6 * 16px;
        text-transform: uppercase;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2),
                0.5); //sass property : first param:main-color,second param:how much
        text-transform: uppercase;
    }
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2; //closer towards us.
    width: 100%;
    height: 10vh;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 45px;
    top: 35px;
    cursor: pointer;
    @include easeOut();
    width: 80px;
    height: 80px;
}

.hamburger {
    width: 50px;
    height: 6px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    z-index: 3;
    cursor: pointer;
    transition: 1s;
    width: 50px;
    height: 6px;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.hamburger::before {
    top: -16px;
}

.hamburger::after {
    top: 16px;
}

.menu-btn.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.menu-btn.active .hamburger::before {
    transform: rotate(395deg);
    top: 0;
}

.menu-btn.active .hamburger::after {
    transform: rotate(495deg);
    top: 0;
}

.text-secondary {
    color: $secondary-color;
}

#home {
    padding: 4rem;
    height: 100%;
    z-index: 2;
    width: 100%; //error:width not covering fully on galaxyS5
    height: 100vh;
    background: $primary-color;
    background-attachment: fixed;

    .icons {
        margin-top: 1rem;

        a .fab {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        //we dont want any scroll bars and when we open navbar we are going to push it down.

        h1 {
            margin-top: 20vh; // screen is like 100 slices and we want to push it by 20 slices;
        }
    }
}

.cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px darken(blue, 8%);
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;

    //error:all cubes are not coming
    &:nth-child(2) {
        animation-delay: 1s;
        left: 25vw;
        top: 40vh;
    }

    &:nth-child(3) {
        animation-delay: 2s;
        left: 65vw;
        top: 50vh;
    }

    &:nth-child(4) {
        animation-delay: 3s;
        left: 80vw;
        top: 40vh;
    }

    &:nth-child(5) {
        animation-delay: 4s;
        left: 10vw;
        top: 75vh;
    }

    &:nth-child(6) {
        animation-delay: 5s;
        left: 50vw;
        top: 40vh;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(18) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

//menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        //menu + branding
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        opacity: 0.9;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        opacity: 0.9;
        transform: translate3d(0, -100%, 0); //x,y,z
        @include easeOut();

        &.show {
            //slide from top:
            transform: translate3d(0, 0, 0);
        }
    }

    //brandingside
    &-branding {
        background: $primary-color; //we still will be able to see through it because the menu class has the opacity.
        @include easeOut();
        transform: translate3d(0, 100%, 0);

        &.show {
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url(../assets/DSC_0337.jpg);
            background-size: cover;
            background-position: center center;
            z-index: 999;
            border-radius: 50%;
            border: solid 3px $secondary-color;
            opacity: 99 !important;
        }
    }

    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut();

        &.show {
            //slide in from right
            transform: translate3d(0, 0, 0);
        }

        &.current>a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: white;
        text-decoration: none;
        @include easeOut();
    }
}

//delay each nav item slide by 0.1 seconds using sass forloop : for(let x=0;x<4;x++)
@for $x from 1 through 7 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}

//blur rest on focus navbar
.menu-nav:hover li a {
    filter: blur(3px);
    opacity: 1;
    transform: scale(1.2);
}

.menu-nav li a:hover {
    filter: blur(0);
    opacity: 1;
    transform: scale(2);
    color: $secondary-color;
    font-weight: bold;
}

//INFO:set text color:
@function set-text-color($color) {
    @if (lightness($color) >40) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

.explore {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primary-color;
    position: absolute;
    top: 85vh;
    left: 50vw;
    border: 2px solid $secondary-color;
    transform: translate(-50%, -50%);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 0 $secondary-color;
    animation: jump 2s infinite;

    &:hover {
        cursor: pointer;
        background: $secondary-color;
    }
}

@font-face {
    font-family: ProximaNovaLight;
    src: url("../fonts/FontsFree-Net-Proxima-Nova-Light.otf") format("opentype");
}

.about {
    width: 100%;
    height: 100vh;
    font-family: ProximaNovaLight;
    color: black;
    font-size: 4rem;
    font-weight: bold;

    .aboutMe {
        width: 70%;
        margin: auto;
        height: 70vh;
        // background: black;
        margin-top: 80px;
        position: relative;

        .nextSec2 {
            position: absolute;
            top: 125%;
            left: 43%;

            i {
                color: grey;

                &:hover {
                    cursor: pointer;
                    color: $secondary-color;
                }
            }
        }

        .persDetails {
            margin-bottom: 70px;

            h1 {
                font-weight: bold;
            }

            h3 {
                font-size: 1.8rem;
                font-weight: bold;
                color: grey;
                text-shadow: 1px 0px grey;
            }

            h4 {
                font-size: 1.2rem;
                font-weight: bold;
                color: grey;
            }
        }

        .mainImg {
            display: flex;
            border-bottom: 10px solid $secondary-color;
            height: 400px;
            width: 300px;
            position: absolute;
            top: 8vh;
            left: 38vw;
            opacity: 2;

            img {
                width: 150px;
                height: 400px;
                opacity: 1;

                &:nth-child(2) {
                    width: 150px;
                    height: 400px;
                }
            }
        }
    }

    hr {
        height: 3px;
        background: grey;
        color: grey;
    }

    .aboutGal {
        display: grid;
        grid-template-columns: auto auto auto auto auto;

        img {
            width: 150px;
            height: 100px;
            border: 5px solid whitesmoke;
            border-radius: 5px;
            outline: 2px solid grey;
            outline-offset: 5px;
        }
    }
}

.black {
    background: black;
}

.black:after,
.black:before {
    background: black;
    transition: all ease-in 0.1s;
}

.explore2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primary-color;
    position: absolute;
    top: 185vh;
    left: 50vw;
    border: 2px solid $secondary-color;
    transform: translate(-50%, -50%);
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 0 $secondary-color;
    animation: jump 2s infinite;

    &:hover {
        cursor: pointer;
        background: $secondary-color;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;

    .fb-icon {
        color: $facebook-color;
        margin-right: 5px;
    }

    .git-icon {
        color: black;
    }

    .insta-icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        align-content: center;
        background: #f09433;
        background: -moz-linear-gradient(45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%);
        background: -webkit-linear-gradient(45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%);
        background: linear-gradient(45deg,
                #f09433 0%,
                #e6683c 25%,
                #dc2743 50%,
                #cc2366 75%,
                #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    }
}

@keyframes jump {
    0% {
        box-shadow: 0 0 0 0rem $secondary-color;
    }

    60% {
        box-shadow: 0 0 0 1rem $secondary-color;
    }

    100% {
        box-shadow: 0 0 0 0rem $secondary-color;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 black;
    }

    40% {
        box-shadow: 0 0 0 2px black;
    }

    80% {
        box-shadow: 0 0 0 2px black;
    }

    100% {
        box-shadow: 0 0 0 0 black;
    }
}

.mywork {
    width: 100%;
    height: 100vh;
    position: relative;

    .projHeading {
        text-align: center;
        margin-bottom: 40px;

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            color: black;
        }

        hr {
            width: 30%;
            height: 5px;
            background: grey;
            color: grey;
        }

        h3 {
            color: grey;

            i {
                color: black;
                transition: all .5s ease-in;
                border-radius: 50%;

                &:hover {
                    transform: scale(2);
                    cursor: pointer;
                    animation: pulse 1s linear infinite;
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }

    .grid-container {
        margin-top: 40px;
        width: 80%;
        height: 75vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;

        .project {
            background: $primary-color;
            border-radius: 20px;
            width: 100%;
            height: 100%;
            overflow: hidden;

            &:hover .details {
                transform: scaleY(1);
            }

            .details {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $primary-color;
                opacity: 1;
                transform: scaleY(0);
                transition: transform 0.5s;
                box-shadow: none;
                position: absolute;

                .content {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    color: #fff;
                    box-shadow: none;
                    align-content: center;
                }
            }

            &:nth-child(1) {
                background: url('../assets/mywork/portfolio/main.PNG');
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;

                .overlayFirst {
                    width: 100%;
                    height: 100%;
                    background: black;
                    opacity: .7;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                }

                i {
                    position: absolute;
                    top: 45%;
                    left: 10%;
                    opacity: 1;
                }

                h1 {
                    letter-spacing: 4px;
                    font-size: 3rem;
                    opacity: 1;
                    position: absolute;
                    top: 40%;
                    left: 28%;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 0px 0px black;
                }
            }


            &:nth-child(2) {
                background: url('../assets/mywork/portfolio/main2.PNG');
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;

                .overlaySec {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom right, $primary-color, $primary-color, #6A7FDB, #6457A6);
                    opacity: .7;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                }

                i {
                    position: absolute;
                    top: 45%;
                    left: 6%;
                    opacity: 1;
                }

                h1 {
                    letter-spacing: 3px;
                    font-size: 2.5rem;
                    opacity: 1;
                    position: absolute;
                    top: 42%;
                    left: 22%;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 0px 0px black;
                }
            }

            &:nth-child(3) {
                background: url('../assets/shaolin.jpg');
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;

                .overlay {
                    width: 100%;
                    height: 100%;
                    background: #ff5252;
                    opacity: .7;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                }

                img {
                    position: absolute;
                    top: 17%;
                    left: 10%;
                    width: 150px;
                    height: 200px;
                    opacity: 1;
                }

                h1 {
                    letter-spacing: 4px;
                    font-size: 2rem;
                    opacity: 1;
                    position: absolute;
                    top: 40%;
                    left: 45%;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 0px 0px black;
                }
            }

            &:nth-child(4) {
                background: url('../assets/mywork/portfolio/main3.PNG');
                background-position-x: center;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;

                .overlay2 {
                    width: 100%;
                    height: 100%;
                    background: #5CC8FF;
                    opacity: .7;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                }

                img {
                    position: absolute;
                    top: -17%;
                    left: -2%;
                    width: 250px;
                    height: 400px;
                    opacity: 1;
                }

                h1 {
                    letter-spacing: 3px;
                    font-size: 2rem;
                    opacity: 1;
                    position: absolute;
                    top: 40%;
                    left: 45%;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 0px 0px black;
                }
            }

            &:nth-child(5) {
                background: url('../assets/mywork/portfolio/main6.PNG');
                background-position-x: center;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;

                .overlay3 {
                    width: 100%;
                    height: 100%;
                    background: #6b5036;
                    opacity: .7;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                }

                i {
                    position: absolute;
                    top: 45%;
                    left: 20%;
                    width: 250px;
                    height: 400px;
                    opacity: 1;
                    color: white;
                }

                h1 {
                    letter-spacing: 3px;
                    font-size: 2rem;
                    opacity: 1;
                    position: absolute;
                    top: 40%;
                    left: 45%;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 0px 0px black;
                }
            }

            &:nth-child(6) {
                background: url('../assets/e-commerce-store-760x400.png');
                background-position-x: center;
                background-size: cover;
                position: relative;
                width: 100%;
                height: 100%;

                .overlay4 {
                    width: 100%;
                    height: 100%;
                    background: #266741;
                    opacity: .7;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 20px;
                }

                i {
                    position: absolute;
                    top: 40%;
                    left: 12%;
                    width: 250px;
                    height: 400px;
                    opacity: 1;
                    color: white;
                }

                h1 {
                    letter-spacing: 3px;
                    font-size: 2rem;
                    opacity: 1;
                    position: absolute;
                    top: 40%;
                    left: 33%;
                    font-weight: bold;
                    color: white;
                    text-shadow: 1px 0px 0px black;
                }
            }
        }
    }
}

.services {
    width: 100%;
    height: 100vh;
    position: relative;

    hr {
        width: 30%;
    }

    .serviceHead {
        font-size: 2rem;
        width: 20%;
        margin: 0 auto;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-bottom: 50px;
        position: relative;

        &:after {
            position: absolute;
            top: 100%;
            left: 25%;
            font-size: 1rem;
            color: grey;
            content: 'What Can I DO For You?'
        }
    }

    .serContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: consolas;
        width: 1300px;
        position: relative;
        justify-content: space-between;
        color: black;
        margin: 0 auto;

        .serCard {
            position: relative;

            &:hover .face.face1 {
                background: #ff0057;
                transform: translateY(0);
                color: white;
            }

            &:hover .face.face2 {
                transform: translateY(0);
            }

            &:hover .face.face1 .content {
                opacity: 1;
            }

            .face {
                width: 400px;
                height: 200px;
                transition: .5s;
            }

            .face.face1 {
                color: black;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                z-index: 1;
                transform: translateY(100px);
                box-shadow: 0px 0px 5px grey;

                .content {
                    opacity: .2;
                    transition: .5s;

                    i {
                        justify-content: center;
                    }
                }
            }

            .face.face2 {
                position: relative;
                background: #000;
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
                transform: translateY(-100px);

                .content {
                    p {
                        margin: 0;
                        padding: 0;
                    }

                    a {
                        margin: 15px 0 0;
                        display: inline-block;
                        text-decoration: none;
                        font-weight: 900;
                        color: #333;
                        padding: 5px;
                        border: 1px solid grey;
                        color: grey;

                        &:hover {
                            background: $secondary-color;
                            color: white;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .skills {
        width: 90%;
        margin: 0 auto;
        height: 20vh;
        margin-top: 40px;

        .skillBox {
            display: flex;
            justify-content: space-between;

            .skillIcon {
                margin: 20px 80px;
                border: 4px solid black;
                width: 180px;
                height: 80px;
                border-radius: 40px;
                text-align: center;
                align-content: center;
                padding-top: 18px;
                font-size: 1.6rem;
                animation: jittery 2s infinite;

                &:nth-child(1) {

                    .parrot {
                        position: absolute;
                        width: 60px;
                        text-align: center;
                        animation: blink 0.8s infinite;
                        color: transparent;

                        &:nth-child(1) {
                            top: -30px;
                            left: -40px;
                            font: 12px/1 "Margarine", sans-serif;
                            transform: rotate(-20deg);
                            animation-duration: 0.5s;

                            &:before {
                                content: "HTML";
                            }
                        }

                        &:nth-child(2) {
                            font: 12px/1 "Margarine", sans-serif;
                            right: -40px;
                            top: -20px;
                            transform: rotate(15deg);
                            animation-duration: 0.3s;

                            &:before {
                                content: "CSS";
                            }
                        }

                        &:nth-child(3) {
                            font: 16px/1 "Margarine", sans-serif;
                            top: -60px;
                            left: 15px;
                            transform: rotate(10deg);
                            animation-duration: 1s;

                            &:before {
                                content: "JS";
                            }
                        }

                        &:nth-child(4) {
                            font: 18px/1 "Margarine", sans-serif;
                            top: -70px;
                            left: 95px;
                            transform: rotate(2deg);
                            animation-duration: 0.7s;

                            &:before {
                                content: "SASS";
                            }
                        }

                        &:nth-child(5) {
                            font: 14px/1 "Margarine", sans-serif;
                            top: 80px;
                            left: 105px;
                            transform: rotate(-20deg);
                            animation-duration: 0.8s;

                            &:before {
                                content: "JQuery";
                            }
                        }

                        &:nth-child(6) {
                            font: 12px/1 "Margarine", sans-serif;
                            top: 80px;
                            left: 5px;
                            transform: rotate(10deg);
                            animation-duration: 1.2s;

                            &:before {
                                content: "Bootstrap";
                            }
                        }
                    }

                    &:hover .parrot:before {
                        content: "I'm Here!";
                        width: 70px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:nth-child(3) {

                    .parrot {
                        position: absolute;
                        width: 60px;
                        text-align: center;
                        animation: blink 0.8s infinite;
                        color: transparent;

                        &:nth-child(1) {
                            top: -30px;
                            left: -40px;
                            font: 12px/1 "Margarine", sans-serif;
                            transform: rotate(-20deg);
                            animation-duration: 0.5s;

                            &:before {
                                content: "VS Code";
                            }
                        }

                        &:nth-child(2) {
                            font: 12px/1 "Margarine", sans-serif;
                            right: -40px;
                            top: -20px;
                            transform: rotate(15deg);
                            animation-duration: 0.3s;

                            &:before {
                                content: "FontAwesome";
                            }
                        }

                        &:nth-child(3) {
                            font: 16px/1 "Margarine", sans-serif;
                            top: -60px;
                            left: 15px;
                            transform: rotate(10deg);
                            animation-duration: 1s;

                            &:before {
                                content: "Chrome";
                            }
                        }

                        &:nth-child(4) {
                            font: 18px/1 "Margarine", sans-serif;
                            top: -70px;
                            left: 95px;
                            transform: rotate(2deg);
                            animation-duration: 0.7s;

                            &:before {
                                content: "RemoveBg";
                            }
                        }

                        &:nth-child(5) {
                            font: 14px/1 "Margarine", sans-serif;
                            top: 80px;
                            left: 105px;
                            transform: rotate(-20deg);
                            animation-duration: 0.8s;

                            &:before {
                                content: "Figma";
                            }
                        }

                        &:nth-child(6) {
                            font: 12px/1 "Margarine", sans-serif;
                            top: 80px;
                            left: 5px;
                            transform: rotate(10deg);
                            animation-duration: 1.2s;

                            &:before {
                                content: "Particles";
                            }
                        }
                    }

                    &:hover .parrot:before {
                        content: "I'm Here!";
                        width: 70px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:nth-child(2) {

                    .parrot {
                        position: absolute;
                        width: 60px;
                        text-align: center;
                        animation: blink 0.8s infinite;
                        color: transparent;

                        &:nth-child(1) {
                            top: -30px;
                            left: -40px;
                            font: 12px/1 "Margarine", sans-serif;
                            transform: rotate(-20deg);
                            animation-duration: 0.5s;

                            &:before {
                                content: "NodeJS";
                            }
                        }

                        &:nth-child(2) {
                            font: 12px/1 "Margarine", sans-serif;
                            right: -40px;
                            top: -20px;
                            transform: rotate(15deg);
                            animation-duration: 0.3s;

                            &:before {
                                content: "ExpressJS";
                            }
                        }

                        &:nth-child(3) {
                            font: 16px/1 "Margarine", sans-serif;
                            top: -60px;
                            left: 15px;
                            transform: rotate(10deg);
                            animation-duration: 1s;

                            &:before {
                                content: "MongoDB";
                            }
                        }

                        &:nth-child(4) {
                            font: 18px/1 "Margarine", sans-serif;
                            top: -70px;
                            left: 95px;
                            transform: rotate(2deg);
                            animation-duration: 0.7s;

                            &:before {
                                content: "NPM";
                            }
                        }

                        &:nth-child(5) {
                            font: 14px/1 "Margarine", sans-serif;
                            top: 80px;
                            left: 105px;
                            transform: rotate(-20deg);
                            animation-duration: 0.8s;

                            &:before {
                                content: "Server";
                            }
                        }

                        &:nth-child(6) {
                            font: 12px/1 "Margarine", sans-serif;
                            top: 80px;
                            left: 5px;
                            transform: rotate(10deg);
                            animation-duration: 1.2s;

                            &:before {
                                content: "Modules";
                            }
                        }
                    }

                    &:hover .parrot:before {
                        content: "I'm Here!";
                        width: 70px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .skillIcon.frontend {
                background: red;
                color: white;
                margin-left: 150px;
            }

            .skillIcon.backend {
                background: #4267b2;
                color: white;
            }

            .skillIcon.tools {
                background: #266741;
                color: white;
                margin-right: 180px;
            }
        }

    }

}

@keyframes give-score {

    30%,
    80% {
        top: 0;
    }

    40%,
    70% {
        top: 50px;
    }
}

@keyframes jittery {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    15% {
        transform: scale(1.15);
    }

    20% {
        transform: scale(1.15) rotate(-15deg);
    }

    25% {
        transform: scale(1.15) rotate(15deg);
    }

    30% {
        transform: scale(1.15) rotate(-13deg);
    }

    35% {
        transform: scale(1.15) rotate(12deg);
    }

    40% {
        transform: scale(1.15) rotate(0);
    }
}

@keyframes blink {

    25%,
    75% {
        color: transparent;
    }

    40%,
    60% {
        color: #000;
    }
}

.contact {
    widows: 100%;
    height: 100vh;
    text-align: center;

    .contact-title {
        padding-top: 80px;
        color: #fff;
        text-transform: uppercase;
        transition: all 4s ease-in-out;

        h1 {
            font-weight: bold;
            font-size: 4rem;
            color: black;
        }

        h2 {
            font-weight: bold;
            color: grey;
        }

    }
}

form {
    margin-top: 120px;
    transition: all 4s ease-in-out;
    color: white;

    ::placeholder {
        color: white;
    }

    .form-control {
        width: 800px;
        border: none;
        outline: none;
        background: $secondary-color;
        color: white;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;

        &:focus {
            background: #cc2366;
            width: 900px;
            height: 60px;
        }
    }

    input {
        height: 45px;
    }

    .submit {
        background: #ff5722;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 2px;

        &:hover {
            background: #f44336;
            cursor: pointer;
        }
    }
}